.container{
    font-family:"Poppins" ;
    padding: 1.2rem;
    background-color: #f6f6f6; 
    min-height: 100vh;         
}

.mainContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-inline: 2rem;
  height: 80vh;
}

.mainContainer_right{
    flex:0.5;
}

 
.mainContainer_left{
    flex: 0.5;
}

.mainContainer_left > p:nth-child(1) {
    font-size: 2.9rem;
    background: -webkit-linear-gradient(45deg, #000000, #b2b2b2);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  
.mainContainer_left > p:nth-child(2) {
    color: #4D4D4D;
    font-size: 1.7rem;
  }
  
.mainContainer_left > div.buttonJoin {
  width: fit-content;
  cursor: pointer;
  user-select: none;
  transition: all 0.25s ease;
  margin-top: 0.8rem;
  font-size: 1.4rem;
  background: rgba(144, 8, 112, 0.535);
  color: rgb(232, 220, 226);
  padding-inline: 1.2rem;
  padding-block: 0.5rem;
  border-radius: 20px;
}

@media only screen and (max-width: 600px) {
  .mainContainer {
      flex-direction: column;
      gap: 2rem;
      padding-top: 1.3rem;
  }

  .mainContainer_left {
    flex: 1;
    padding-top: 1.5rem;
  }

  .mainContainer_right {
    flex: 1;

  }
  .mainContainer_right img {
    width: 100%;
  }
}