.container {
    padding: 1.2rem;
    background-color: #f6f6f6; 
    
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBarOptionContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}


.buttonJoin {
  background: #cd8987;
  border-radius: 10px;
  padding-block: 0.6rem;
  padding-inline: 1.2rem;
  color: white;
  font-size: 0.7rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.buttonJoin:hover {
  background: #b56e6b;
}


